// 1. Import the initial variables
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

$family-serif: "Cormorant Garamond", serif;
$family-primary: $family-serif;
$font-script: "Parisienne", cursive;
$nav-button-right-spacing: 0px;
$rose:#F5E5E5;
$green:#C2D69B;
$blue: #95B3D7;
$navbar-height: 3rem;
$column-gap: 2rem;
$footer-background-color: #0A0909;
$link: $blue;
$grey: #F9F9FA;
$table-cell-border-width: 0 0 0px;
$table-cell-border: none;
$table-background-color: none;
$table-color: white;
$table-cell-padding: 0 0em;

* {
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
}

html,body{
  overflow-x: hidden;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  -webkit-transform: translate3d(0, -50px, 0);
  -ms-transform: translate3d(0, -50px, 0);
  transform: translate3d(0, -50px, 0);

  -webkit-transition: -webkit-transform .5s ease-out;
  -ms-transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
}

.pace.pace-active {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.orange{
  color: orange;
}

.pace .pace-progress {
  background:$link;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 3px;
}

#real-question{
  color: $link !important;
}

.navbar-menu{
  box-shadow: none;
}

#global-nav {
  font-size: 1.5em;
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 9999;
  height: 110px;
  width: 100%;
  line-height: 150px;
    -webkit-transition: height .5s, line-height .5s; /* Safari */
    transition: height .5s, line-height .5s;
}

.scrolled-nav {
  font-size: 1.25em;
  background-color: $grey !important;
  height: 60px !important;
  line-height: 60px !important;
}

.travel-column{
  padding-right: 1.6em !important;
}

.header{
  color: white !important;
}

.event-name{
  font-weight: 800;
  font-size: 1.3em;
}

.date{
  font-weight: 500;
  font-size: 1.2em;
  color: grey;
}

.main-title{
  bottom: 0 !important;
}

.title{
  font-weight: 700;
}

.logo{
  color: $link;
}

.home-nav {
  color: white;

  &:hover {
    color: $blue;
  }
}

.column-couple-text{
  padding-left: 3em !important;
  padding-top: 5em !important;
  padding-right: 2em !important;
}

.thin{
  font-weight: 500 !important;
  font-size: 1.2em;
}

.thin-grey{
  font-weight: 500 !important;
  font-size: 1.2em;
  color: grey;
}

.thin-same{
  font-weight: 500 !important;
}

.faq-questions{
  font-size: 1.05em !important;
}

.faq-text{
  padding-left: 2em !important;
  margin-top: 0.7em !important;
  font-weight: 300 !important;
  font-size: 1.05em !important;
}

.underline{
  border-bottom: 3px solid currentColor;
  padding-bottom: 6px;
}

.upper-subtitle{
  font-size: 1.25em;
  font-weight: 600;
}

h1{
  line-height: 110% !important;
}

p{
  margin-top: 1em !important;
  font-weight: 500;
  color: grey;
  line-height: 1.6em;
}

.quiz{
  background-attachment: fixed;
    background-image: url("/assets/images/redwoods_grayscale.jpg");
    display: block;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: hsla(0,0%,100%,0.85);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}

.proposal-image {
  border-radius: 10px;
}

#main{
  background: url("/assets/images/beach_walking.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.rsvp-label{
  position: relative;
  z-index: 1000;
}

.rsvp-label:after{
  background: linear-gradient(to bottom, transparent 0%, transparent 60%, $green 60%, $green 88%, transparent 88%);
  content: '';
  z-index: -1000;
  position: absolute;
  height: 1.3em;
  width: 98%;
  bottom: 0em;
  left: 0.3em;
}

.rsvp-label-2{
  background: linear-gradient(to bottom, transparent 0%, transparent 55%, $green 55%, $green 90%, transparent 90%);
}


.subtitle{
  font-weight: 300 !important;
  color: grey !important;
}

.main-image{
  overflow: hidden;
}

.heart{
  font-size: 1.3em;
  color: $rose;
}

.home-logo {
  color: white;
}

.home-nav-strong{
  color: white;
  
  &:hover {
    color: $blue
  }
}

#home-bottom-bar {
  width: 100%; 
  position: fixed; 
  bottom: 15%;
}

#home-bottom-script{
  position: relative;
  top: 0;
  text-align: center; 
  font-family: $font-script;
  color: white;
  font-size: 5em;
}

#home-bottom-date{
  position: relative; 
  bottom: 0;
  text-align: center; 
  font-family: $family-serif;
  color: white;
  font-size: 2.5em;
}

#footer{
  font-size: 10px !important;
}

.map-responsive{
  height: 400px;
  position: relative;
}

.map-responsive iframe{
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 1em;
}

#todo-map {
  width: 80%;
  left: 10%;
}

fieldset {
  font-size: clamp(12px, 4vw, 1.3em);
  border: 3px solid $blue;
  border-radius: 0.5em;
  margin: 1em;
}

legend {
  color: white;
  background: $blue;
  border: 5px solid $blue;
  padding: 2em 2em;
  border-radius: 0.25em;
  font-size: clamp(18px, 6vw, 1.3em);
  font-weight: bold;
}

.wrapper {
  display: flex;
  flex-direction: column;
}
.grid-row {
  margin-bottom: 0.5em;
  display:flex;
  flex: 1 0 auto;
  height: auto;
}

.header-item-100 {
  font-size: clamp(18px, 6vw, 1.2em);
  flex-basis: 100%;
  text-align: center;
  margin-top: 1.5em;
}

.flex-item:before {
  content: '';
  padding-top: 25%;
}
.flex-item-25 {
  display: flex;
  flex-basis: 25%;
  justify-content: center;
  align-items:center;
  color: $grey-dark;
}
.flex-item-50 {
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  align-items: center;
  color: $grey-dark;
}
.flex-item-100 {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  color: $grey-dark;
}
.flex-item:nth-child(1) {
  border:none;
  font-size:1.15em;
  color: $grey-dark;
  width: 180px;
}
.diet-other {
  font-size: clamp(14px, 4vw, 1.1em);
}

.tag_custom {
  height: auto !important;
  white-space: unset !important;
  font-size: clamp(14px, 4vw, 1.1em) !important;
  margin: 0.25em;
}

/* HTML5 Boilerplate accessible hidden styles */

[type="radio"], [type="checkbox"] {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  width: 1px;
}

label {
  cursor: pointer;
}

/* the basic, unchecked style */
input[type="radio"] + span:before,
input[type="checkbox"] + span:before{
  content: '';
  display: inline-block;
  width: 1.2em;
  height: clamp(14px, 4vw, 1.2em);
  width: clamp(14px, 4vw, 1.2em);
  vertical-align: -0.25em;
  align-content: center;
  border-radius:.25em;
  border: 0.125em solid #fff;
  box-shadow: 0 0 0 0.15em $grey-dark;
  transition: 0.5s ease all;
}

/* the checked style using the :checked pseudo class */
input[type="radio"]:checked + span:before,
input[type="checkbox"]:checked + span:before{
  background: $green;
  box-shadow: 0 0 0 0.25em $grey-dark;
}

/* never forget focus styling */
input[type="radio"]:focus span:after,
input[type="checkbox"]:focus span:after {
  content: '\0020\2190';
  font-size: 1.5em;
  line-height: 1;
  vertical-align: -0.125em;
}

button[type="submit"], button[type="button"] {
  background-color: $blue;
  border: none;
  border-radius: 0.25em;
  color: white;
  text-align: center;
  font-size: clamp(14px, 6vw, 1.5em);
  margin: 1em;
  cursor: pointer;
}

input[type="text"], input[type="email"] {
  border-radius: 0.25em;
  outline-color: $blue;
}

.textbox-input {
  text-align: center;
  font-size: clamp(14px, 8vw, 2em);
  max-width: 80%;
}

#pw-loader, #end-loader {
  width: 1.6em;
  height: 1.6em;
  margin: 1em;
  border: 0.5em solid white;
  border-radius: 50%;
  border-top: 0.5em solid $blue;
  border-right: 0.5em solid $blue;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}
@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

.fadeOut {
  -webkit-animation: fadeOut;
  animation: fadeOut;
  opacity: 0;
  -webkit-animation-duration: 3s;
  animation-duration: 3s
}

#invalid-id {
  color: red;
}

@media only screen and (max-width: 1023px) {
  .scrolled-nav {
    height: 10px !important;
  }

  .home-nav-strong {
    color: $grey-dark;
  }
}

@media only screen and (max-width: 768px) {
  .column-couple-text{
    padding-left: 2em !important;
    padding-top: 2em !important;
    padding-right: 2em !important;
  }
  .hero-body{
    padding-left: 0em !important;
    padding-top: 0em !important;
    padding-right: 0em !important;
  }
}

@import "bulma/bulma.sass"
