---
permalink: /couple/
redirect_from:
  - /couple.html
---

<!DOCTYPE html>
<html>

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117162422-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-117162422-1');
  </script>


  <title>K&M - The Couple</title>

  <meta charset="utf-8">
  <meta property="og:title" content="K&M - The Couple" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://katieandmike.com" />
  <meta property="og:description" content="The wedding of Katie and Mike" />
  <meta property="fb:admins" content="mjd3" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <meta name="description" content="The wedding of Katie and Mike" />
  <meta name="keywords" content="Wedding, California, Marriage, Wife, Husband">
  <meta name="author" content="Mike Danielczuk">


  <!--[htmlclean-protect]-->
  <!-- inject:css -->
  <!-- endinject -->
  <!--[/htmlclean-protect]-->
  <!--<Deject>-->
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="stylesheet" href="/assets/css/fonts.css">
  <link rel="stylesheet" href="/assets/css/animate.css">
  <!--</Deject>-->
</head>


<body>
  <nav id="global-nav" class="navbar is-fixed-top is-transparent">
    <div class="container">
      <div class="navbar-brand">
        <a id="logo" class="navbar-item" href="index.html">
          <strong class="logo">Katie & Mike</strong>
        </a>
        <div id="nav-toggle" class="navbar-burger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id="main-menu" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item is-active" href="couple.html">
            <strong class="tag is-size-4 is-link">The Couple</strong>
          </a>
          <a class="navbar-item" href="schedule.html">
            <strong>Schedule</strong>
          </a>
          <a class="navbar-item" href="travel.html">
            <strong>Travel & Accomodations</strong>
          </a>
          <!-- <a class="navbar-item" href="todo.html">
            <strong>Things To Do</strong>
          </a> -->
          <!-- <a class="navbar-item" href="rsvp.html">
            <strong>RSVP</strong>
          </a> -->
          <a class="navbar-item" href="http://www.zola.com/registry/katiemike2022">
            <strong>Registry</strong>
          </a>
          <a class="navbar-item" href="faq.html">
            <strong>FAQs</strong>
          </a>
        </div>
      </div>
    </div>
  </nav>

  <section id="the-couple" class="hero quiz section is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-multiline">
          <div id="couple-20" class="column is-4 is-offset-1">
            <p class="title is-2 ">
              <span class="rsvp-label">Take the Quiz</span>
            </p>
            <p class="subtitle is-4">We could tell you our story...
              <br>or we could see how well you know it!</p>
          </div>
          <div id="couple-2" class="column is-6">
            <div class="box box-outer">
              <div id="question" class="field">
                <strong>Question 1/7</strong>
                <label id="real-question" class="label is-size-5">How and where did Katie and Mike meet?</label>
              </div>
              <progress id="progress" class="progress is-link is-small" value="0" max="100">0%</progress>
              <div class="field">
                <p id="a5" class="control"></p>
                <p id="a1" class="control">
                  <a class="box false">
                    At Princeton orientation
                  </a>
                </p>
                <p id="a2" class="control">
                  <a class="box false">
                    In the Catskills
                  </a>
                </p>
                <p id="a3" class="control">
                  <a class="box false">
                    On a backpacking trip
                  </a>
                </p>
                <p id="a4" class="control">
                  <a class="box true">
                    All of the above
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="the-couple" class="hero section the-couple is-fullheight">
    <div class="columns is-multiline">
      <div id="couple-4" class="column column-couple-text is-5 is-offset-1">
        <br class="is-hidden-touch">
        <br class="is-hidden-touch">
        <strong class="upper-subtitle">Alright, here's</strong>
        <h1 class="is-size-2">
          <strong class="rsvp-label">The Story</strong>
        </h1>
        </br>
        <span class="event-name">
          Our Beginning </br>
        </span>
        <p class="thin"> Katie and Mike met as baby freshmen at Princeton pre-orientation in fall of 2012. 
          Although we say we met backpacking, technically we met in the gym auditorium right before we left 
          for our six-day trip to the Catskills. Either way, this was the start of a great adventure where 
          we bonded over a shared love of Cracklin’ Oat Bran trail snacks, the “Born to Run” book, and 
          high school cross-country. We started dating about a month later on the day after September 30, 
          known to Mike as September 31 and to Katie and most of the world as October 1. 
        </p>
        <!-- <div id="couple-3" class="column is-5  is-offset-1"> -->
        <br>
        <br>
        <center><img id="proposal" src="images/proposal.jpg" alt="proposal" width="75%"></center>
        <!-- </div> -->
      </div>
      <p class="is-hidden-tablet" style="line-height:0px;margin:-70px;">
        <br>
      </p>
      <div id="couple-5" class="column column-couple-text is-5">
        <br class="is-hidden-touch">
        <br class="is-hidden-touch">
        <br>
        <br>  
        <br>  
        <br>  
        <span class="event-name">
          Our Journey </br>
        </span>
        <p class="thin">
          Since then, we navigated the highs and lows of college together, from formals to finals, 
          with plenty of Hoagie Haven study breaks. We met each other’s families and extended 
          families – which for Katie including joining the annual tradition of the Thanksgiving 
          Manchester Road Race and for Mike included becoming roommates with Katie’s grandfather 
          “Gagoo” on a trip to Scotland. We started a tradition of backpacking on our anniversary
          with trips to Harriman State Park, not swayed by the occasional October rainstorm. 
          As we became upperclassmen, we joined Tower where we spent many late nights (early 
          mornings?) with our friends, and became leaders in the same outdoor group that facilitated 
          our meet-cute (shout-out to Princeton Outdoor Action and the LTC).
          <br/></br>
          After graduating, we both moved to New York where Katie started her MPH and Mike worked 
          at a robotics start-up. Though our time long distance didn’t really start until summer 
          2017, with Mike living in the East Village and working in Brooklyn while Katie lived in 
          Harlem with her campus in Washington Heights, trips to visit each other meant many hours 
          on the subway – but they were definitely worth it (and thanks @Netflix for releasing the 
          download feature around this time). When Mike started his PhD at Berkeley, we traded 
          Sunday morning burritos for Skype calls. Our year and a half long distance was made 
          sweeter when Mike visited Katie while she was working in both Mexico and South 
          Africa and when Katie visited Mike in California for backpacking and skiing adventures.
          <br/></br>
          In January 2019, we said goodbye to time-zone struggles and flight connection horror 
          stories when Katie moved to Berkeley. We’ve adopted two cacti and a succulent named 
          Gronk, Trinidad James, and Pearl (guess who named which…) and have spent many weekends 
          on the road in our RAV4 Hybrid heading to Tahoe, Yosemite, Humboldt Redwoods, Monterey, 
          and SoCal. When we’re home, we love spending time on our porch and going on long runs 
          together – more specifically, Mike goes on long runs while Katie bikes next to him – 
          he’s still faster.
          <br class="is-hidden-touch">
          <br class="is-hidden-mobile">
          <br class="is-hidden-mobile">
          <br class="is-hidden-mobile">
        </p>
      </div>
      <!-- <p class="is-hidden-tablet" style="line-height:0px;margin:-42px;">
        <br>
      </p> -->
      <div id="couple-6" class="column column-couple-text is-5 is-offset-1">
        <span class="event-name">
          Our Engagement </br>
        </span>
        <p class="thin">
          Mike proposed on August 22, 2019 around sunset on a trail in Berkeley’s
          Panoramic Hill overlooking the Bay, with the help of some friends (hi Dinara and Ryan!). 
          We had a minor hiccup when Mike’s phone died right after he told Dinara that he was near 
          a cactus past some stairs, and that the location pin he originally sent was wrong. 
          Huge props to Dinara for making sense out of these instructions and for convincing a 
          skeptical Katie that “her friend Nick” was really close and we just needed to look at 
          one more spot. When we finally found the stairs and Katie rounded the corner past the 
          cactus, she was shocked to find Mike there instead and helpfully asked “What are you 
          doing here?”, to which Mike responded by getting down on one knee and popping the 
          question. Of course Katie said yes!
        <br>
        </p>
      </div>
      <div id="couple-7" class="column column-couple-text is-5">
        <br>
        <br>
        <center><img id="proposal2" src="images/proposal2.jpg" alt="proposal" width="75%"></center>
      </div>
      <div id="couple-3" class="column is-10 is-offset-1 is-hidden-tablet">
        <img id="proposal" src="images/proposal.jpg" alt="proposal" width="100%">
      </div>
      <p class="is-hidden-tablet" style="line-height:0px;margin:-35px;">
        <br>
      </p>
      <div id="couple-8" class="column column-couple-text is-5">
        <strong class="is-size-5 is-hidden-desktop">
          <br>We are so thrilled to have you join us as we take our next steps together on June 4, 
          2022 – can’t wait to see you all at Deer Park Villa!
          <br>
          <br>
          <br>
        </strong>
      </div>
      <div id="couple-9" class="column is-10 is-offset-1 is-hidden-touch">
        <p class="thin">
          <strong>
            <center>
              <span class="tag is-size-5">We are so thrilled to have you join us as we take our next steps together on June 4, 
                2022 – can’t wait to see you all at Deer Park Villa!</span>
            </center>
            <br>
          </strong>
        </p>
      </div>
      <br class="is-hidden-mobile">
    </div>
    <br class="is-hidden-mobile">
    <br class="is-hidden-mobile">
    <p class="is-hidden-tablet" style="line-height:0px;margin:-40px;">
      <br>
    </p>
    <div class="is-size-7">
      <center>
        Designed & developed with love by Mike
        <br> For any questions and/or concerns please email
        <a href="mailto:katiemike2022@gmail.com">katiemike2022@gmail.com</a>
      </center>
    </div>
  </section>

  <!--<Deject>-->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
  <script src="/assets/js/scroll-animations.js"></script>
  <script src="/assets/js/navigation.js"></script>
  <script src="/assets/js/quiz.js"></script>
  <script src="/assets/js/pace.js"></script>
  <!--</Deject>-->
  <!--[htmlclean-protect]-->
  <!-- inject:js -->
  <!-- endinject -->
  <!--[/htmlclean-protect]-->
</body>

</html>
