<!DOCTYPE html>
<html>

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117162422-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-117162422-1');
  </script>



  <title>K&M - FAQs</title>

  <meta charset="utf-8">
  <meta property="og:title" content="K&M - FAQs" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://katiemike2022.com/faq.html" />
  <meta property="og:description" content="The wedding of Katie and Mike" />
  <meta property="og:image" content="http://katiemike2022.com/images/c-3-color.jpg" />
  <meta property="fb:admins" content="mjd3" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <meta name="description" content="The wedding of Katie and Mike" />
  <meta name="keywords" content="Wedding, California, Marriage, Wife, Husband">
  <meta name="author" content="Mike Danielczuk">


  <!--[htmlclean-protect]-->
  <!-- inject:css -->
  <!-- endinject -->
  <!--[/htmlclean-protect]-->
  <!--<Deject>-->
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="stylesheet" href="/assets/css/animate.css">
  <!--</Deject>-->
</head>


<body>
  <nav id="global-nav" class="navbar is-fixed-top is-transparent">
    <div class="container">
      <div class="navbar-brand">
        <a id="logo" class="navbar-item" href="/">
          <strong class="logo">Katie & Mike</strong>
        </a>
        <div id="nav-toggle" class="navbar-burger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id="main-menu" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item" href="couple.html">
            <strong>The Couple</strong>
          </a>
          <a class="navbar-item" href="schedule.html">
            <strong>Schedule</strong>
          </a>
          <a class="navbar-item" href="travel.html">
            <strong>Travel & Accomodations</strong>
          </a>
          <!-- <a class="navbar-item" href="todo.html">
            <strong>Things To Do</strong>
          </a> -->
          <!-- <a class="navbar-item" href="rsvp.html">
            <strong>RSVP</strong>
          </a> -->
          <a class="navbar-item" href="http://www.zola.com/registry/katiemike2022">
            <strong>Registry</strong>
          </a>
          <a class="navbar-item is-active" href="faq.html">
            <strong class="tag is-size-4 is-link">FAQs</strong>
          </a>
        </div>
      </div>
    </div>
  </nav>
  <section id="faq" class="hero section faq">
    <br>
    <br class="is-hidden-touch">
    <div class="container">
      <div class="columns">
        <div id="faq" class="column is-6 is-offset-3">
          <br class="is-hidden-mobile">
          <strong class="upper-subtitle">questions and</strong>
          <h1 class="is-size-2">
            <strong class="rsvp-label">answers</strong>
          </h1>
          </br>
          </br>
          <!-- <strong class="faq-questions">Do we know there’s a pandemic?</strong>
          </br>
          <p class="faq-text">
            Your health and safety are our top priority and we are definitely monitoring the situation. 
            At present, we are hoping to be able to move forward as planned in June, but as we have a better 
            understanding of what conditions and regulations might look like we will keep you posted if 
            there are any changes! You’ll know as soon as we do and we recommend checking this site 
            for any updates. </p>
          </br> -->

          <strong class="faq-questions">What should I wear? What’s the weather like?</strong>
          </br>
          <p class="faq-text">
            We recommend cocktail attire. Our ceremony and dinner will be outdoors with dancing inside,
            so it might be helpful to bring a light scarf or jacket. For context, these are the historical
            averages for June 4th in Fairfax, CA:
            </br>
            <br>
            High of 77&deg;F / 25&deg;C</br>
            Low of 51&deg;F / 10&deg;C<br>
            <br></p>
          </br>

          <strong class="faq-questions">I hear this wedding is in the redwoods…do I need to bring hiking boots?</strong>
          </br>
          <p class="faq-text">
            Although we’ll be surrounded by all of nature’s beauty in the Deer Park Villa redwood grove, no one will need to hike.
            The venue is fully accessible with plenty of comfortable onsite facilities to make you forget you’re in the forest.
            <!-- Please reach out to
            <a href="mailto:kairosweddings@gmail.com">kairosweddings@gmail.com</a> and they can put you in touch with local
            car shuttle companies. -->
          </p>
          </br>

          <strong class="faq-questions">What’s the parking situation? </strong>
          </br>
          <p class="faq-text">
            For those staying at the hotels we recommend, we will be offering a shuttle service to and from the venue 
            – check out our “Travel and Accommodations” tab for more information on this option. If you are driving 
            yourself to the venue, there is limited parking onsite, and you can even leave your car overnight as long as you 
            pick it up by 10 AM Sunday morning (just in case the designated driver becomes a 
            little less designated).
          </p>
          <br>
          <strong class="faq-questions">Can I take pictures and post them on social media?</strong>
          </br>
          <p class="faq-text">
            We’d love to see all your photos taken throughout the reception, but we are asking for an 
            unplugged ceremony – our photographer and videographer will take care of capturing those memories! 
            If you do want to post reception photos to social media, we’ll be sharing a hashtag so we 
            can collect all the moments for the day.</p>
          </br>
          <br>
          <strong class="faq-questions">I still have questions, what’s the best way to reach you?</strong>
          </br>
          <p class="faq-text">
            Feel free to email us with any questions (or wedding hashtag submissions) at 
            <a href="mailto:katiemike2022@gmail.com">katiemike2022@gmail.com</a>! 
            We also respond to our phones, Facebook messages, and carrier pigeons.</p>
          </br>
          <br>
          <br>
          <div class="is-size-7">
            <center>
              Designed & developed with love by Mike
              <br> For any questions and/or concerns please email
              <a href="mailto:katiemike2022@gmail.com">katiemike2022@gmail.com</a>
            </center>
          </div>
  </section>

  <!--<Deject>-->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
  <script src="/assets/js/scroll-animations.js"></script>
  <script src="/assets/js/navigation.js"></script>
  <script src="/assets/js/quiz.js"></script>
  <script src="/assets/js/pace.js"></script>
  <!--</Deject>-->
  <!--[htmlclean-protect]-->
  <!-- inject:js -->
  <!-- endinject -->
  <!--[/htmlclean-protect]-->
</body>

</html>
