<!DOCTYPE html>
<html>

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117162422-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-117162422-1');
  </script>



  <title>Katie and Mike</title>

  <meta charset="utf-8">
  <meta property="og:title" content="Katie and Mike" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://katieandmike.com" />
  <meta property="og:description" content="The wedding of Katie and Mike" />
  <meta property="og:image" content="http://katieandmike.com/images/beach_walking.jpg" />
  <meta property="fb:admins" content="mjd3" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <meta name="description" content="The wedding of Katie and Mike" />
  <meta name="keywords" content="Wedding, California, Marriage, Wife, Husband">
  <meta name="author" content="Mike Danielczuk">


  <!--[htmlclean-protect]-->
  <!-- inject:css -->
  <!-- endinject -->
  <!--[/htmlclean-protect]-->
  <!--<Deject>-->
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="stylesheet" href="/assets/css/animate.css">
  <!--</Deject>-->
</head>


<body>
  <nav id="global-nav" class="navbar is-fixed-top is-transparent animated slideInDown">
    <div class="container">
      <div class="navbar-brand">
        <a id="logo" class="navbar-item" href="index.html">
          <strong class="home-nav-strong">Katie & Mike</strong>
        </a>
        <div id="nav-toggle" class="navbar-burger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id="main-menu" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item" href="couple.html">
            <strong class="home-nav-strong">The Couple</strong>
          </a>
          <a class="navbar-item" href="schedule.html">
            <strong class="home-nav-strong">Schedule</strong>
          </a>
          <a class="navbar-item" href="travel.html">
            <strong class="home-nav-strong">Travel & Accomodations</strong>
          </a>
          <!-- <a class="navbar-item" href="todo.html">
            <strong class="home-nav-strong">Things To Do</strong>
          </a> -->
          <!-- <a class="navbar-item" href="rsvp.html">
            <strong class="home-nav-strong">RSVP</strong>
          </a> -->
          <a class="navbar-item" href="http://www.zola.com/registry/katiemike2022">
            <strong class="home-nav-strong">Registry</strong>
          </a>
          <a class="navbar-item" href="faq.html">
            <strong class="home-nav-strong">FAQs</strong>
          </a>
        </div>
      </div>
    </div>
  </nav>

  <section id="main" class="hero is-fullheight animated fadeIn">
    <div id="home-bottom-bar">
        We're getting married!
    </div>
  </section>

  <!--<Deject>-->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
  <script src="/assets/js/scroll-animations.js"></script>
  <script src="/assets/js/navigation.js"></script>
  <script src="/assets/js/quiz.js"></script>
  <script src="/assets/js/pace.js"></script>
  <!--</Deject>-->
  <!--[htmlclean-protect]-->
  <!-- inject:js -->
  <!-- endinject -->
  <!--[/htmlclean-protect]-->
</body>

</html>
