<!DOCTYPE html>
<html>

<head>
  <title>K&M - Schedule</title>

  <meta charset="utf-8">
  <meta property="og:title" content="K&M - Schedule" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://katiemike2022.com/schedule.html" />
  <meta property="og:description" content="The wedding of Katie and Mike" />
  <meta property="og:image" content="http://katiemike2022.com/images/c-3-color.jpg" />
  <meta property="fb:admins" content="mjd3" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <meta name="description" content="The wedding of Katie and Mike" />
  <meta name="keywords" content="Wedding, California, Marriage, Wife, Husband">
  <meta name="author" content="Mike Danielczuk">


  <!--[htmlclean-protect]-->
  <!-- inject:css -->
  <!-- endinject -->
  <!--[/htmlclean-protect]-->
  <!--<Deject>-->
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="stylesheet" href="/assets/css/animate.css">
  <!--</Deject>-->
</head>


<body>
  <nav id="global-nav" class="navbar is-fixed-top is-transparent">
    <div class="container">
      <div class="navbar-brand">
        <a id="logo" class="navbar-item" href="index.html">
          <strong class="logo">Katie & Mike</strong>
        </a>
        <div id="nav-toggle" class="navbar-burger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id="main-menu" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item" href="couple.html">
            <strong>The Couple</strong>
          </a>
          <a class="navbar-item is-active" href="schedule.html">
            <strong class="tag is-size-4 is-link">Schedule</strong>
          </a>
          <a class="navbar-item" href="travel.html">
            <strong>Travel & Accomodations</strong>
          </a>
          <a class="navbar-item" href="todo.html">
            <strong>Things To Do</strong>
          </a>
          <a class="navbar-item" href="rsvp.html">
            <strong>RSVP</strong>
          </a>
          <a class="navbar-item" href="http://www.zola.com/registry/katiemike2022">
            <strong>Registry</strong>
          </a>
          <a class="navbar-item" href="faq.html">
            <strong>FAQs</strong>
          </a>
        </div>
      </div>
    </div>
  </nav>
  <section id="schedule" class="hero section is-fullheight">
    <!-- <br>
    <br> -->

    <div class="container">
      <div class="columns">
        <div id="schedule" class="column is-12 is-hidden-tablet">
          <p class="title is-2 ">
            <span class="rsvp-label-2">What's in Store</span>
          </p>
        </div>
        <div id="schedule" class="column is-12 is-hidden-mobile">
          <center>
            <p class="title is-2 ">
              <br class="is-hidden-tablet-only">
              <span class="rsvp-label-2">What's in Store</span>
              <br>
            </p>
          </center>
        </div>
      </div>
      <div class="is-hidden-mobile">
        <center><img class="proposal-image" src="/assets/images/cool_sky_crop.jpg" alt="cool sky" width="85%"></center>
      </div>
      <div class="is-hidden-tablet">
        <img class="proposal-image" src="/assets/images/cool_sky_crop.jpg" alt="cool sky" width="100%">
      </div>
      <br class="is-hidden-mobile">
      <div class="columns">
        <div id="schedule-1" class="column date is-4 is-offset-1 is-hidden-mobile has-text-right-tablet">
          Saturday, June 4th
        </div>
        <div id="schedule-2" class="column is-6">
          <div id="schedule-1" class="date is-hidden-tablet">
            <br> Saturday, June 4th
            <br>
            <br>
          </div>
          <span class="event-name">
            Wedding Ceremony and Reception</br>
          </span>
          <span class="thin-grey">The bride and groom will be married under the redwoods, followed by a cocktail hour, dinner and dancing! Shuttles from the Sheraton depart for the ceremony at 3:00 pm and 3:15 pm and will run continuously between Deer Park Villa and the Sheraton from 9:30 pm to midnight.</br>
          </span>
          <p style="line-height:0px;margin:-7px;">
            <br>
          </p>
          <div class="tags">
            <span class="tag tag_custom is-medium ">3:30pm &mdash; midnight</span>
            <span class="tag tag_custom is-medium ">Cocktail Attire</span>
          </div>
          <p style="line-height:0px;margin:-1em;">
            <br>
          </p>
          <div class="tags">
            <span class="tag tag_custom is-medium ">Deer Park Villa, 367 Bolinas Rd, Fairfax, CA 94930</span>
          </div>
        </div>


      </div>
      <br class="is-hidden-mobile">
      <div class="columns">
        <br>
        <div id="schedule-1" class="column date is-4 is-offset-1 is-hidden-mobile has-text-right-tablet">
          Sunday, June 5th
        </div>
        <div id="schedule-2" class="column is-6">
          <div id="schedule-1" class="date is-hidden-tablet">
            Sunday, June 5th
            <br>
            <br>
          </div>
          <span class="event-name">
            We Do BBQ</br>
          </span>
          <span class="thin-grey">Join us at Way Station for a casual barbecue with cornhole and bluegrass music. We'd love to see you before you head back home or onto your next adventure!</br>
          </span>
          <p style="line-height:0px;margin:-7px;">
            <br>
          </p>
          <div class="tags">
            <span class="tag tag_custom is-medium ">11am &mdash; 3pm</span>
            <span class="tag tag_custom is-medium ">Casual</span>
          </div>
          <p style="line-height:0px;margin:-1em;">
            <br>
          </p>
          <div class="tags">
            <span class="tag tag_custom is-medium ">Way Station, 2001 Sir Francis Drake Blvd, Fairfax, CA 94930</span>
          </div>
        </div>
      </div>
      <br class="is-hidden-mobile">
      <br>
      <br>
    </div>
    <div class="is-size-7">
      <center>
        Designed & developed with love by Mike
        <br> For any questions and/or concerns please email
        <a href="mailto:katiemike2022@gmail.com">katiemike2022@gmail.com</a>
      </center>
    </div>
  </section>


  <!--<Deject>-->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
  <script src="/assets/js/scroll-animations.js"></script>
  <script src="/assets/js/navigation.js"></script>
  <script src="/assets/js/quiz.js"></script>
  <script src="/assets/js/pace.js"></script>
  <!--</Deject>-->
  <!--[htmlclean-protect]-->
  <!-- inject:js -->
  <!-- endinject -->
  <!--[/htmlclean-protect]-->
</body>

</html>
